/* Note to students: Some properties are given to you to fill out,
others you can modify as they stand, and if you have time,
there are definitely some properties you should add!*/

    html {
      height: 100%;
    }
    body {
       width: 800px;
       height: 100%;
       background-color: #d4d5bc;
       font-size: 17px;
    }

    header {
    background-color: #ffdc36;
    padding: 5px;
    text-align:center;
    border: 4px solid #153642;
    font-size: 20, Forum;
    font: "Forum", serif;
    display: block;
    }
    nav {
        float: left;
        font-size: 20px;

    }
    nav ul {
        padding: 5px;
        float: left;
        border-bottom: ;
        list-style-type: none;

    }
    nav li {
        float: left;

    }
    nav li a {
        display: block;
        height: 25px;
        padding: 12px 18px 8px 18px;
        vertical-align: middle;
    }
    a {
        color: ;
    }
    section {
        width: 73%;
        display: inline-block;
        float: left;
    }
    aside {
        width: 26%;
        height: 800px;
        display: inline-block;
        background-color: #2a7e27;
        border: 4px solid #153642;
        padding:0px;
        min-height: 100%;
        text-align: center;

    }
    aside ul {
        list-style-type: none;

    }
    footer {
        width: 790px;
        height: 50px;
        background-color:#3eba39;
        border: 4px solid #153642;
        color:;
        clear: both;
        display: block;
  }
  article img {
    width: 100%;
  }
